$design-tokens: (
  // Animation
  animation-duration: 0.25s,
  // Colors
  color-text-1: #b5b5b5,
  color-text-2: #ebebeb,
  color-text-3: #f9f9f9,
  color-text: #fff,
  color-text-dark: #333,
  color-gray-0: #000000,
  color-gray-1: #1f1f1f,
  color-gray-2: #525252,
  color-gray-3: #7a7a7a,
  color-gray-4: #e0e0e0,
  color-red-1: #ffe0e0,
  color-red-2: #fabdbd,
  color-red-3: #fc6973,
  color-red-4: #fb4b56,
  color-red-5: #f23641,
  color-red-6: #dd2c2c,
  color-red-7: #c31d1d,
  color-red-8: #931a1a,
  color-red: #f23641,
  color-deep-orange-1: #ffe2db,
  color-deep-orange-2: #ffb6a3,
  color-deep-orange-3: #f77445,
  color-deep-orange-4: #f2612c,
  color-deep-orange-5: #f04b19,
  color-deep-orange-6: #dd370e,
  color-deep-orange-7: #c2290a,
  color-deep-orange-8: #961f0d,
  color-deep-orange: #f04b19,
  color-orange-1: #fae6c8,
  color-orange-2: #ffc17a,
  color-orange-3: #f99339,
  color-orange-4: #ff781f,
  color-orange-5: #fa650f,
  color-orange-6: #e15109,
  color-orange-7: #c64006,
  color-orange-8: #9d2f07,
  color-orange: #fa650f,
  color-yellow-1: #faedc8,
  color-yellow-2: #facf5a,
  color-yellow-3: #fabb0f,
  color-yellow-4: #fca903,
  color-yellow-5: #f29a02,
  color-yellow-6: #da7e07,
  color-yellow-7: #be6104,
  color-yellow-8: #9d4807,
  color-yellow: #fabb0f,
  color-lime-1: #ebf0c9,
  color-lime-2: #d0e063,
  color-lime-3: #abcb2a,
  color-lime-4: #9cc00c,
  color-lime-5: #8ca800,
  color-lime-6: #7d9603,
  color-lime-7: #647802,
  color-lime-8: #57660a,
  color-lime: #9cc00c,
  color-light-green-1: #e5f5d7,
  color-light-green-2: #afeb7a,
  color-light-green-3: #75d039,
  color-light-green-4: #66c328,
  color-light-green-5: #61b422,
  color-light-green-6: #549f23,
  color-light-green-7: #40871c,
  color-light-green-8: #2d6f15,
  color-light-green: #75d039,
  color-green-1: #dcfade,
  color-green-2: #99f09f,
  color-green-3: #3fd562,
  color-green-4: #14cc4b,
  color-green-5: #0ab844,
  color-green-6: #0ca143,
  color-green-7: #09863f,
  color-green-8: #0c6435,
  color-green: #14cc4b,
  color-teal-1: #d2faed,
  color-teal-2: #8debcb,
  color-teal-3: #37e6ac,
  color-teal-4: #0dd3a5,
  color-teal-5: #08c49e,
  color-teal-6: #0bad92,
  color-teal-7: #08917f,
  color-teal-8: #076960,
  color-teal: #37e6ac,
  color-cyan-1: #d7f5f5,
  color-cyan-2: #8debeb,
  color-cyan-3: #4bd3dd,
  color-cyan-4: #0bc8d5,
  color-cyan-5: #02b6ca,
  color-cyan-6: #069bb2,
  color-cyan-7: #047d95,
  color-cyan-8: #03586d,
  color-cyan: #0bc8d5,
  color-blue-1: #dceefa,
  color-blue-2: #9ed8ff,
  color-blue-3: #61b3fa,
  color-blue-4: #49a3fd,
  color-blue-5: #2196fd,
  color-blue-6: #1285f8,
  color-blue-7: #056ee6,
  color-blue-8: #0b4cad,
  color-blue: #2196fd,
  color-indigo-1: #e0e7ff,
  color-indigo-2: #bdcbff,
  color-indigo-3: #8999fa,
  color-indigo-4: #727ff3,
  color-indigo-5: #5968f8,
  color-indigo-6: #4f54ee,
  color-indigo-7: #4040e7,
  color-indigo-8: #302999,
  color-indigo: #727ff3,
  color-deep-purple-1: #ede0ff,
  color-deep-purple-2: #d7bdff,
  color-deep-purple-3: #be87fd,
  color-deep-purple-4: #ae6cf9,
  color-deep-purple-5: #9d55fc,
  color-deep-purple-6: #942dfb,
  color-deep-purple-7: #7c14d7,
  color-deep-purple-8: #561490,
  color-deep-purple: #ae6cf9,
  color-purple-1: #ffe0ff,
  color-purple-2: #f5baf5,
  color-purple-3: #df74e7,
  color-purple-4: #da4ee4,
  color-purple-5: #d537e6,
  color-purple-6: #c61ecc,
  color-purple-7: #af1dab,
  color-purple-8: #6f1f6a,
  color-purple: #d537e6,
  color-pink-1: #ffe0ed,
  color-pink-2: #f5abc4,
  color-pink-3: #fa6e9d,
  color-pink-4: #f4528e,
  color-pink-5: #ea3e72,
  color-pink-6: #e22859,
  color-pink-7: #cc1e47,
  color-pink-8: #a11b32,
  color-pink: #f4528e,
  color-white: #ffffff,
  color-black: #000000,
  color-error: #ffadad,
  color-error-light: #ffadad,
  color-error-lighter: #ffadad,
  color-error-dark: #f53130,
  color-error-darker: #961824,
  color-info: #a4bcf2,
  color-info-light: #a4bcf2,
  color-info-lighter: #a4bcf2,
  color-info-dark: #308cf4,
  color-info-darker: #1a49a1,
  color-success: #d7e4a0,
  color-success-light: #d7e4a0,
  color-success-lighter: #d7e4a0,
  color-success-dark: #8fb300,
  color-success-darker: #627716,
  color-warning: #efd9a7,
  color-warning-light: #efd9a7,
  color-warning-lighter: #efd9a7,
  color-warning-dark: #fcbd00,
  color-warning-darker: #977216,
  color-opacity-000: 0,
  color-opacity-100: 0.04,
  color-opacity-200: 0.08,
  color-opacity-300: 0.16,
  color-opacity-400: 0.24,
  color-opacity-500: 0.32,
  color-opacity-600: 0.48,
  color-opacity-700: 0.64,
  color-opacity-800: 0.8,
  color-light-0: rgba(255, 255, 255, 0),
  color-light-1: rgba(255, 255, 255, 0.04),
  color-light-2: rgba(255, 255, 255, 0.08),
  color-light-3: rgba(255, 255, 255, 0.16),
  color-light-4: rgba(255, 255, 255, 0.24),
  color-light-5: rgba(255, 255, 255, 0.32),
  color-light-6: rgba(255, 255, 255, 0.48),
  color-light-7: rgba(255, 255, 255, 0.64),
  color-light-8: rgba(255, 255, 255, 0.8),
  color-dark-0: rgba(0, 0, 0, 0),
  color-dark-1: rgba(0, 0, 0, 0.04),
  color-dark-2: rgba(0, 0, 0, 0.08),
  color-dark-3: rgba(0, 0, 0, 0.16),
  color-dark-4: rgba(0, 0, 0, 0.24),
  color-dark-5: rgba(0, 0, 0, 0.32),
  color-dark-6: rgba(0, 0, 0, 0.48),
  color-dark-7: rgba(0, 0, 0, 0.64),
  color-dark-8: rgba(0, 0, 0, 0.8),
  // Spacing
  spacing-xxxs: to-rem(4px),
  spacing-xxs: to-rem(8px),
  spacing-xs: to-rem(12px),
  spacing-sm: to-rem(16px),
  spacing-md: to-rem(24px),
  spacing-lg: to-rem(32px),
  spacing-xl: to-rem(48px),
  spacing-xxl: to-rem(64px),
  spacing-xxxl: to-rem(96px),
  // Border radius
  border-radius-sm: to-rem(2px),
  border-radius-md: to-rem(4px),
  border-radius-lg: to-rem(8px),
  border-radius-pill: to-rem(9999px),
  border-radius-circle: 50%
);
